body {
    margin: 0;
}

#header {
    font-size: 36px;
    text-align: center;
    padding: 2em;
}

.newsblock {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border: 1px solid;
    background-color: white;
}

.backgroundcolor {
    padding: 2em;
}

.firstnews {
    margin: 1em;
    width: 20%;
    height: 30%;
    max-height: 500px;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#summary {
    font-size: 18px;
    width: 70%;
    float: right;
    padding: 1em;
}

#missing {
    padding: 2em;
    margin: 1.5em;
    border: solid;
    font-size: 1em;
}

.noimage {
    font-size: 0.75em;
    padding: 1em;
    width: 25%;
}

#dropdown {
    font-size: 24px;
}

#selectedCountry {
    font-size: 20px;
}

#label {
    font-size: 34px;
    display: flex;
    justify-content: center;
}

#selectedCountry {
    cursor: pointer;
    padding: 0.5em;
    margin: 1.5em 0.5em;
    border-radius: 12px;
}

#submit {
    background-color: #45C65C;
    border: none;
    color: white;
    border-radius: 12px;
    text-align: center;
    padding: 1em 1.5em;
    margin:2em 1em;
    font-size: 16px;
}

#submit:hover {
    cursor: pointer;
    background-color: #359747;
}

#selecttext {
    display: flex;
}

#waittime {
    display: flex;
    justify-content: center;
}

#waittext {
    font-size: 20px;
}